<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CloudWrangle</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="CloudWrangle">
    <div ng-controller="WrangleController">
        <div class="big-chooser-box container" ng-if="!domain.chosen">
            <div class="col-md-9">
                <input class="form-control" type="text" placeholder="Enter your domain name" ng-model="domain.name">
            </div>
            <div class="col-md-3">
                <button class="btn btn-block btn-default" ng-click="domain.choose()" ng-disabled="domain.active">
                    Choose Domain
                </button>
            </div>
        </div>
        <div class="big-chooser-box container" ng-if="domain.chosen">
            <div class="col-md-9">
                <input class="form-control" type="text" placeholder="Search domain records" ng-model="search.query">
            </div>
            <div class="col-md-3">
                <button class="btn btn-block btn-default" ng-click="search.search()" ng-disabled="search.active">
                    <i class="fa fa-search"></i> Search
                </button>
            </div>
        </div>

        <div class="container">
            <div class="alert alert-{{ message[0] }}" ng-if="message">{{ message[1] }}</div>
            <div class="alert alert-warning" ng-if="data && data.domain.status == 'loading'">Domain records are still loading from CloudFlare. There may yet be some missing records.</div>
        </div>

        <div class="records container" ng-if="domain.chosen">
            <div class="loader" ng-class="{active: record.loading}">
                <i class="fa fa-spin fa-circle-o-notch"></i>
            </div>
            <div class="record row" ng-repeat="r in data.results">
                <div class="col-md-1 text-center">
                    <span class="record-type record-type-{{ r.data.type || r.type }}">{{ r.data.type || r.type }}</span>
                </div>
                <div class="col-md-7 record-title">
                    {{ r.data.name || r.name }} <small>&rarr; {{ r.data.content || r.content }}</small>
                </div>
                <div class="col-md-4 text-right record-operations">
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm" ng-click="record.edit(r)">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" ng-click="record.del(r)">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="record-editing" ng-if="r.editing">
                    <div class="form-group">
                        <label class="col-md-4">Type</label>
                        <div class="col-md-8">
                            <select ng-model="r.data.type" ng-options="value as value for value in record.types" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">Name</label>
                        <div class="col-md-8">
                            <input ng-model="r.data.name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">Content</label>
                        <div class="col-md-8">
                            <input ng-model="r.data.content" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">TTL <small>"1" for Automatic</small></label>
                        <div class="col-md-8">
                            <input ng-model="r.data.ttl" class="form-control">
                        </div>
                    </div>
                    <div class="form-group" ng-if="record.shows.service_mode(r)">
                        <label class="col-md-4">Through CloudFlare</label>
                        <div class="col-md-8">
                            <label class="radio-inline">
                                <input type="radio" ng-model="r.data.service_mode" value="1"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-model="r.data.service_mode" value="0"> No
                            </label>
                        </div>
                    </div>
                    <div class="form-group" ng-if="record.shows.prio(r)">
                        <label class="col-md-4">Priority</label>
                        <div class="col-md-8">
                            <input ng-model="r.data.prio" class="form-control">
                        </div>
                    </div>
                    <div ng-if="r.data.type === 'SRV'">
                        <div class="form-group">
                            <label class="col-md-4">Service</label>
                            <div class="col-md-8">
                                <input ng-model="r.data.service" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Service Name</label>
                            <div class="col-md-8">
                                <input ng-model="r.data.srvname" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Protocol</label>
                            <div class="col-md-8">
                                <select ng-model="r.data.protocol" ng-options="value as value for value in record.protocols" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Weight</label>
                            <div class="col-md-8">
                                <input ng-model="r.data.weight" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Port</label>
                            <div class="col-md-8">
                                <input ng-model="r.data.port" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Target</label>
                            <div class="col-md-8">
                                <input ng-model="r.data.target" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <button class="btn btn-primary" ng-click="record.save(r)">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" ng-if="domain.chosen">
            <ul class="pager">
                <li class="previous" ng-class="{disabled: !data.hasPrev}"><a href="#" ng-click="prevPage()">&laquo; Previous</a></li>
                <li class="next" ng-class="{disabled: !data.hasNext}"><a href="#" ng-click="nextPage()">Next &raquo;</a></li>
            </ul>
        </div>
    </div>
    <script src="js/lib/angular.js"></script>
    <script src="js/lib/angular-animate.js"></script>
    <script src="js/wrangle.js"></script>
</body>
</html>